<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user:@book.user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @new_book %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table align-middle'>
  		  <tr>
          <td style="width:70px;"><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"50x50" %><br>
            <span style="font-size: 12px; white-space: nowrap;"><%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <td><%= @book.tag_list.join(',') %></td>
          <td style="white-space: nowrap; vertical-align: middle;">
            <span style="display: inline-block; margin-right: 6px;">
              <%= render 'favorites/favorite-btn', book: @book %>
            </span>
            <span style="margin-right: 6px;">
          コメント数: <%= @book.book_comments.count %>
            </span>
          <div id="show-star-rate-<%= @book.id %>" 
              class="mr-3"
              data-score="<%= @book.rate %>"
              style="display: inline-block;">
          </div>

          <% if @book.user == current_user %>
            <%= link_to "Edit",
          edit_book_path(@book), class: "btn btn-success" %>&nbsp
          <%= link_to "Destroy",
          book_path(@book), method: :delete, class: "btn btn-danger", date: { confirm: "本当に削除しますか？" } %>
          <% end %>
          </td>
    </div>
          </td>
        </tr>
      </table>
        <div class="comments-area">
          <%= render 'book_comments/comments', book: @book %>
        </div>

        <%= render 'book_comments/form', book: @book, book_comment: @book_comment %>

  </div>
</div>